[Service]
WorkingDirectory=/home/pi/github/lasers
ExecStart=/usr/bin/python /home/pi/github/lasers/laserServerOp.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lasers
User=pi
Group=pi
[Install]
WantedBy=multi-user.target
