<!DOCTYPE html>
    <html>
    <head>
      <meta charset="utf-8">
      <title>Laser projector configurator</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <script>
        function updateLaserResponse()
        {
          $.ajax({url: "laserResponse", success: function(result){
                    if ( result.length > 0 ) {
                      $("#laserResponse").html(result);
                    }
                }});
        }
        $(document).ready(function(){
            setInterval('updateLaserResponse()', 3000);
        });
        </script>
      <style>
        form {
          width: 820px;
        }
        div {
          margin-bottom: 20px;
        }
        label {
          display: inline-block;
          width: 240px;
          text-align: right;
          padding-right: 10px;
        }
        button, input {
          width: 550px;
          float: right;
        }
      </style>
    </head>
    <body>
      <h1>Laser Projector Configurator</h1>
      <form method="post" id=laser action="{{ url_for('sendToLaser') }}">
        <div>
          <label for="mode">Command</label>
          <div><input type="radio" name="mode" id="mode1" value="M" checked>Marquee</input></div>
          <div><input type="radio" name="mode" id="mode2" value="S">Static</input></div>
          <div><input type="radio" name="mode" id="mode3" value="F">Flashing</input></div>
          <div><input type="radio" name="mode" id="mode4" value="I">Interval</input></div>
          <div><input type="radio" name="mode" id="mode5" value="R">Run Script</input></div>
          <div><input type="radio" name="mode" id="mode6" value="A">Animation</input></div>
          <div><input type="radio" name="mode" id="mode7" value="X">Off</input></div>
        </div>
        <div>
          <label for="msg">What is your message ?</label>
          <input name="msg" value="{{msg}}">
        </div>
        <div>
          <label for="size">What size (0-99) ?</label>
          <input name="size" value="{{size}}">
        </div>
        <div>
          <button>Send to laser</button>
        </div>
        
      </form>
      <div>
        <h2>Response : <div id="laserResponse">Nothing received yet</div></h2>
      </div>
      <div>
        <h2>Command : {{laserCmd}}</h2>
      </div>
  </body>
  </html>
