<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Laser UI</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    
    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>
    <!-- Repeatedly check for laser Responses -->
    <script type="text/javascript">
      function getLaserResponse(){
        $.ajax({url:"/laserResponse", success:function(result){
          console.log(result);
          $("#laserResponse").val(result);
          }
        });
      }

      function getClock(){
        $.ajax({url:"/clock", success:function(result){
          console.log(result);
          $("#clock").val(result);
          }
        });
      }
      $(document).ready(function(){
        getResponsiveBreakpoint();
        setInterval(getLaserResponse, 1000);
        setInterval(getClock, 30000);
      });
    </script>
    <script>/*
          * Detect and return the current active responsive breakpoint in Bootstrap 4
          *
          * @returns {string}
          * xs: Extra small (< 576px)
          * sm: Small (576px ≥ X < 768px)
          * md: Medium (768px ≥ X < 992px)
          * lg: Large (992px ≥ X < 1200px)
          * xl: Extra large (≥ 1200 px)
          */
         function getResponsiveBreakpoint() {
             var envs = ["sm", "md", "lg", "xl"];
             var env = "";
    
         
             var $el = $("<div>");
             $el.appendTo($("body"));
             $el.addClass("d-block");
             for (var i = envs.length - 1; i >= 0; i--) {
                 env = envs[i];
                 $el.addClass("d-" + env + "-none");
                 if ($el.is(":hidden")) {
                     $el.remove();
                     $("#screenSize").text(env);
                     return
                 }
             }
             $el.remove();
             $("#screenSize").text(env);
            }
      </script>
    
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Laser Projector Configurator</a><span class="badge" style="background-color: #e3f2fd;" id="screenSize"></span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto nav" id="pgnav" role="tablist">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#services" role="tab">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#animations" role="tab">Animations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mobile" role="tab">Mobile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#contacts" role="tab">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/markdtommys/lasers/wiki/Laser-Projector" target="_blank" role="tab">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="tab-content">
      <div id="messages" class="tab-pane fade show active">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <form class="form-horizontal" action="/sendToLaser" method="post">
                <h1 class="mt-5">Laser Text</h1>
                <p class="lead">Enter the text, select the size and click - Send To Laser</p>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="msg">Message:</label>
                  <input type="text" class="form-control" id="msg" placeholder="Enter message" name="msg" value="{{laserText}}">
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="size">Size:</label>
                  <input type="text" class="form-control" id="size" placeholder="Enter 25 ... 99" name="size" value="{{laserSize}}">
                </div>
                <div class="form-group">
                  <label class="radio-inline active"><input type="radio" name="mode" value="M" checked=""> Marquee</label>
                  <label class="radio-inline"><input type="radio" name="mode" value="S"> Static</label>
                  <label class="radio-inline"><input type="radio" name="mode" value="F"> Flashing</label>
                  <label class="radio-inline"><input type="radio" name="mode" value="P"> Presents</label>
                  <label class="radio-inline"><input type="radio" name="mode" value="H"> Horizontal Spin</label>
                  <label class="radio-inline"><input type="radio" name="mode" value="V"> Vertical Spin</label>
                </div>
                <input type="hidden" name="responseTemplate" value="lasers.html">           
                <button type="submit" class="btn btn-default btn-primary">Send To Laser</button>
              </form>        
            </div>
          </div>
        </div>
      </div>
      <div id="services" class="tab-pane fade" role="tabpanel">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <form class="form-horizontal" action="/sendToLaser" method="post">
                <h1 class="mt-5">Laser Service Message</h1>
                <p class="lead">Select the service and click - Send To Laser</p>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="msg">Service:</label>
                    {% for svc in laserServices %}
                    <label class="radio"><input type="radio" name="msg" value="{{svc}}" checked=""> {{svc}}</label>
                    {% endfor %}
                  <input type="hidden" class="form-control" id="mode" name="mode" value="R">
                  <input type="hidden" class="form-control" id="size" name="size" value="25">
                </div>
                <input type="hidden" name="responseTemplate" value="lasers.html">           
                <button type="submit" class="btn btn-default btn-primary">Send To Laser</button>
              </form>        
            </div>
          </div>
        </div>
      </div>
      <div id="animations" class="tab-pane fade" role="tabpanel">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <form class="form-horizontal" action="/sendToLaser" method="post">
                <h1 class="mt-5">Laser Animation</h1>
                <p class="lead">Select the Animation and click - Send To Laser</p>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="msg">Animation:</label>
                  <label class="radio active"><input type="radio" name="msg" value="BIKE" checked=""> Bike</label>
                  <label class="radio"><input type="radio" name="msg" value="PLANE"> Plane</label>
                  <label class="radio"><input type="radio" name="msg" value="ARDUINO"> Arduino</label>
                  <label class="radio"><input type="radio" name="msg" value="LASERSHOW"> Laser Show</label>
                  <label class="radio"><input type="radio" name="msg" value="COUNTDOWN"> Count Down</label>
                  <input type="hidden" class="form-control" id="mode" name="mode" value="A">
                  <input type="hidden" class="form-control" id="size" name="size" value="25">
                </div>
                <input type="hidden" name="responseTemplate" value="lasers.html">           
                <button type="submit" class="btn btn-default btn-primary">Send To Laser</button>
                </form> 
            </div>       
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="form-group">
        <div class="col-lg-12 text-center">
          <div class="row">
            <Label>Laser Response</Label><input type="text" readonly class="form-control" name="laserResponse" id="laserResponse" value="">
          </div>  
          <div class="row">
            <Label>Last Command</Label><input type="text" readonly class="form-control" name="lastCommand" value="{{lastCommand}}">
            <Label>Laser Port</Label><input type="text" readonly class="form-control" name="laserPort" value="{{laserPort}}">
          </div>
        </div>
      </div>
    </div>
    <script>
      $(function () {
        $('#pgnav a:first').tab('show')
      })
    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
